.container {
  position: relative;
  width: 20rem;
  margin: 1rem;
  background-color: #FFF;
  padding: 1rem;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border-radius: 1px;
  border-top: 3px solid #EBB71F;
}

.image {
  width: 100%;
}

.category {
  position: absolute;
  top: 100%;
  left: 10%;
}

.categoryText {
  padding: 10px 20px;
}

.nameLink {
  text-decoration: none;
  color: inherit;
}

.nameLink:hover {
  text-decoration: underline;
}

.name {
  text-align: center;
}
