.textAreaInputWrapper {
  margin-bottom: 20px;
}

.textAreaInput { /* stylelint-disable */
  display:block;
  border: 1px solid #AAA;
  border-radius: 3px;
	padding: 5px;
  width: 20rem;
  height: auto;
}

.label {
  font-weight: bold;
  display:block;
}
