.footer { /* stylelint-disable */
  background-color: #222;
  width: 100%;
  min-height: 10rem;
  margin-top: 5rem;
  padding: 3rem 0;
  color: #D7D7D7;
}

.content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 800px) {
  .content {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .content {
    width: 60%;
  }
}
