.sendeplan {
  margin-left: -242px;
}

th,
td {
  border: 1px black solid;
  padding: 15px;
  text-align: left;
}

th {
  background-color: #ECB61C;
  color: white;
}

h2 {
  text-align: center;
  margin-left: 210px;
}
