.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playButton {
  display: flex;
  background-color: #222;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 6em;
  width: 16em;
  font-family: inherit;
}

.playIcon {
  height: 1em;
  padding-right: 2em;
  display: flex;
  align-items: center;
}

.playIconInner {
  width: 0;
  height: 0;
  border-left: 2em solid #FFF;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
}

.buttonText {
  font-size: 1.2em;
  color: #DDD;
}

/* Hide button on smaller screens */
@media (max-width: 1000px) {
  .container {
    display: none;
  }
}
