.ShowAdmin { /* stylelint-disable */
  display: flex;
  flex-direction: column;
  align-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.submitButton {
    padding:5px 15px;
    background:#0c0;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
}
