.wrapper { /* stylelint-disable */
  background: #ECB61C;
  font-size: 24px;
  color: black;
  border-radius: 8px;
  margin: 5px 0;
  cursor: pointer;


  box-shadow: 0 0 2px grey;
  transition: box-shadow 0.2s;
}

.wrapper:hover { /* stylelint-disable */
  background: #FDC72D;
  box-shadow: 2px 2px 2px grey;
}

.button {
  cursor: pointer;
}
