.adminOptionButton { /* stylelint-disable */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
  transition: box-shadow 0.5s;
  width: 250px;
  padding: 10px;
}

.adminOptionButton:hover {
  box-shadow: 5px 5px 5px grey;
}
