.container {
  margin-top: 1rem;
  background-color: #FFF;
  color: #111;
  font-family: 'Open Sans', sans-serif;
}

.header {
  margin: auto auto 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.logo {
  width: 12rem;
}

.logoLink {
  margin-left: auto;
  margin-right: auto;
}

.liveButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.navbarContainer {
  display: flex;
  align-items: center;
}

.navbar {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.navbarItem {
  list-style: none;
  padding-left: 1.5rem;
  display: inline;
}

.navbarItem:first-child {
  padding-left: 0;
}

.navbarItem:hover {
  text-decoration: underline;
}

.content {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .content {
    width: 70%;
  }

  .header {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .content {
    width: 60%;
  }

  .header {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .liveButton {
    display: none;
  }

  .navbarContainer {
    margin: 0 auto;
  }
}

/* Vertical navbar for very small displays */
@media (max-width: 300px) {
  .navbarItem {
    display: block;
  }
}
