.episodePreview {
  background-color: #222;
  color: #DDD;
  padding: 1rem;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border-radius: 1px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
}

.playButton {
  padding-right: 11px;
  margin-right: 11px;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 1rem;
}

.playButtonInner {
  width: 0;
  height: 0;
  border-left: 30px solid #FFF;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.meta {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 0.3rem;
}

.lead {
  color: gray;
}
